<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <header>פאנל עליון</header>
        <div class="mainContent">
            <div class="leftSide">
                <div class="text-content">
                  פאנל שמאל
                </div>
            </div>
            <div class="content" [@animSlider]="counter">
                
                    <router-outlet></router-outlet>
                
            </div>
            <div class="rightSide"><div class="text-content">
                פאנל ימין
                <ul class="nav navbar-nav" routerLinkActive="active">
                    <li class="nav-item" (click)="counter = 1; onSelect(1)" ><a class="nav-link" routerLink="div1" [style.color]="selectedDev1?'white':''">Div1</a></li>
                    <li class="nav-item" (click)="counter = 2; onSelect(2)" ><a class="nav-link" routerLink="div2" [style.color]="selectedDev2?'white':''">Div2</a></li>
                    <li class="nav-item" (click)="counter = 3; onSelect(3)"><a class="nav-link" routerLink="div3"  [style.color]="selectedDev3?'white':''">Div3</a></li>
                </ul>
            </div></div>
        </div>
        <footer>פאנל תחתון</footer>
    </div>
</body>


